<%- model_class = Ledger -%>
<div class="page-header">
  <h1>大竹会計専用ページ</h1>
</div>

    <%= link_to t('マスター収支帳簿'), '/ledgers/new',
        :class => 'btn btn-info' %>
    <%= link_to t('予算一覧'), '/ledgers/budget',
        :class => 'btn btn-info' %>
    <%= link_to t('検索'), '/ledgers/view',
        :class => 'btn btn-info' %>
    <%= link_to t('収入一覧'), '/ledgers/income_all',
        :class => 'btn btn-info' %>
    <%= link_to t('report'), '/ledgers/report_select',
        :class => 'btn btn-info' %>




