<%- model_class = Ledger -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:no) %></th>
      <th><%= "申請年"%></th>
      <th><%= "申請月" %></th>
      <th><%= "処理日" %></th>
      <th><%= "委員会" %></th>
      <th><%= "立替者" %></th>
      <th><%= "項目" %></th>
      <th><%= "摘要" %></th>
      <th><%= "金額" %></th>
      <th><%= "備考" %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @ledgers.each do |ledger| %>
      <tr>
        <td><%= link_to ledger.no, ledger_path(ledger) %></td>
        <td><%= ledger.year %></td>
        <td><%= ledger.month %></td>
        <td><%= link_to ledger.processing, ledger_path(ledger) %></td>
        <td><%= ledger.group %></td>
        <td><%= ledger.manager %></td>
        <td><%= ledger.item %></td>
        <td><%= ledger.resume %></td>
        <td><%= ledger.amount %></td>
        <td><%= ledger.note %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_ledger_path(ledger), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      ledger_path(ledger),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_ledger_path,
            :class => 'btn btn-primary' %>
<%= link_to t('立替報告'), '/ledgers/select_expense',
            :class => 'btn btn-primary' %>



