<%- model_class = Ledger -%>
<div class="page-header">
  <h1>大竹会計簡易アプリ</h1>
</div>

    <%= link_to t('予算一覧'), '/ledgers/budget_view',
        :class => 'btn btn-info' %>
    <%= link_to t('委員会支出確認'), '/ledgers/view',
        :class => 'btn btn-primary' %>
    <%= link_to t('立替報告'), '/ledgers/select_expense',
        :class => 'btn btn-primary' %>
    <%= link_to t('収入報告'), '/ledgers/add_income',
        :class => 'btn btn-primary' %>
    <%= link_to t('会計用'), '/ledgers/account_select',
        :class => 'btn btn-danger' %>



