<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
  <Author>juo</Author>
  <LastAuthor>juo</LastAuthor>
  <Created>2014-11-27T07:23:12Z</Created>
  <Company>筑波大学</Company>
  <Version>15.00</Version>
 </DocumentProperties>
 <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
  <AllowPNG/>
 </OfficeDocumentSettings>
 <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
  <WindowHeight>9330</WindowHeight>
  <WindowWidth>16725</WindowWidth>
  <WindowTopX>0</WindowTopX>
  <WindowTopY>0</WindowTopY>
  <ProtectStructure>False</ProtectStructure>
  <ProtectWindows>False</ProtectWindows>
 </ExcelWorkbook>
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="12"
    ss:Color="#000000"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s17" ss:Name="桁区切り">
   <NumberFormat ss:Format="#,##0;[Red]\-#,##0"/>
  </Style>
  <Style ss:ID="s62">
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="20"
    ss:Color="#0000FF" ss:Bold="1"/>
  </Style>
  <Style ss:ID="s63">
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="20"
    ss:Color="#000000" ss:Bold="1"/>
  </Style>
  <Style ss:ID="s64">
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="20"
    ss:Color="#000000"/>
   <Interior ss:Color="#FFFF00" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s65" ss:Parent="s17">
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="20"
    ss:Color="#000000"/>
   <Interior ss:Color="#FFFF00" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s66">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="12"
    ss:Color="#000000" ss:Bold="1"/>
   <Interior ss:Color="#BFBFBF" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s67">
   <Alignment ss:Horizontal="Center" ss:Vertical="Top"/>
  </Style>
  <Style ss:ID="s68">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
  <Style ss:ID="s69">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="12"/>
  </Style>
  <Style ss:ID="s70">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="12"
    ss:Color="#000000"/>
   <NumberFormat ss:Format="m/d"/>
  </Style>
  <Style ss:ID="s71">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="12"
    ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s72" ss:Parent="s17">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="12"
    ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s73">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="12"
    ss:Color="#000000"/>
   <NumberFormat ss:Format="m/d"/>
  </Style>
  <Style ss:ID="s74">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="12"
    ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s75" ss:Parent="s17">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="12"
    ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s76">
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
  <Style ss:ID="s77" ss:Parent="s17">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="12"
    ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s78">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
  <Style ss:ID="s79">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
  <Style ss:ID="s80">
   <Alignment ss:Horizontal="Left" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="12"/>
  </Style>
  <Style ss:ID="s81">
   <Borders>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
  <Style ss:ID="s82">
   <Borders>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <NumberFormat ss:Format="m/d"/>
  </Style>
  <Style ss:ID="s83">
   <Alignment ss:Horizontal="Left" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="16"
    ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s84" ss:Parent="s17">
   <Alignment ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="12"
    ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s85">
   <Borders/>
  </Style>
  <Style ss:ID="s86">
   <Borders/>
   <NumberFormat ss:Format="m/d"/>
  </Style>
  <Style ss:ID="s88" ss:Parent="s17">
   <Borders/>
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="12"
    ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s89">
   <Borders/>
   <NumberFormat ss:Format="0_);[Red]\(0\)"/>
  </Style>
 </Styles>
 <Worksheet ss:Name="立替署名用">
  <Table x:FullColumns="1"
   x:FullRows="1" ss:DefaultColumnWidth="78" ss:DefaultRowHeight="14.25">
   <Column ss:Index="3" ss:Width="41.25"/>
   <Column ss:Width="54"/>
   <Column ss:Width="66"/>
   <Column ss:Width="69" ss:Span="1"/>
   <Column ss:Index="8" ss:Width="332.25"/>
   <Column ss:AutoFitWidth="0" ss:Width="77.25"/>
   <!-- ファイル冒頭 -->
   <Row ss:AutoFitHeight="0" ss:Height="24">
    <Cell ss:StyleID="s62"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">ネンドオオタケタテカエショメイヨウ</PhoneticText><Data
      ss:Type="String"><%= @year %>年度大竹会計データ</Data></Cell>
    <Cell ss:StyleID="s62"/>
    <Cell ss:StyleID="s63"/>
    <Cell ss:Index="8"><Data ss:Type="String"><%= @side %></Data></Cell>
   </Row>

   <!-- 総額表示欄 -->
   <Row ss:AutoFitHeight="0" ss:Height="24">
    <Cell ss:StyleID="s63"/>
    <Cell ss:StyleID="s63"/>
    <Cell ss:StyleID="s63"/>
    <Cell ss:Index="8" ss:StyleID="s64"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">ソウガク</PhoneticText><Data
      ss:Type="String">総額</Data></Cell>
    <Cell ss:StyleID="s65" ss:Formula="=SUBTOTAL(9,R[3]C:R[24]C)"><Data
      ss:Type="Number"></Data></Cell>
   </Row>
   <!-- ヘッダー情報 -->
   <Row ss:Index="4" ss:AutoFitHeight="0" ss:Height="24" ss:StyleID="s67">
    <Cell ss:StyleID="s66"><Data ss:Type="String">チェック</Data><NamedCell
      ss:Name="_FilterDatabase"/></Cell>
    <Cell ss:StyleID="s66"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">カイケイカクニン</PhoneticText><Data
      ss:Type="String">会計確認</Data><NamedCell ss:Name="_FilterDatabase"/></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">No.</Data><NamedCell
      ss:Name="_FilterDatabase"/></Cell>
    <Cell ss:StyleID="s66"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">シハライビ</PhoneticText><Data
      ss:Type="String">支払日</Data><NamedCell ss:Name="_FilterDatabase"/></Cell>
    <Cell ss:StyleID="s66"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">イインカイ</PhoneticText><Data
      ss:Type="String">委員会</Data><NamedCell ss:Name="_FilterDatabase"/></Cell>
    <Cell ss:StyleID="s66"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">タテカエシャシメイ</PhoneticText><Data
      ss:Type="String">立替者氏名</Data><NamedCell ss:Name="_FilterDatabase"/></Cell>
    <Cell ss:StyleID="s66"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">コウモク</PhoneticText><Data
      ss:Type="String">項目</Data><NamedCell ss:Name="_FilterDatabase"/></Cell>
    <Cell ss:StyleID="s66"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">テキヨウ</PhoneticText><Data
      ss:Type="String">摘要</Data><NamedCell ss:Name="_FilterDatabase"/></Cell>
    <Cell ss:StyleID="s66"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">キンガク</PhoneticText><Data
      ss:Type="String">金額</Data><NamedCell ss:Name="_FilterDatabase"/></Cell>
   </Row>
   <!-- 収支一覧表示欄 -->
   <% @ledgers.each do |ledger| %>
   <Row ss:AutoFitHeight="0" ss:Height="24">
    <Cell ss:StyleID="s78"/>
    <Cell ss:StyleID="s76"/>
    <Cell ss:StyleID="s69"><Data ss:Type="String"><%= ledger.no %></Data></Cell>
    <Cell ss:StyleID="s73"><Data ss:Type="DateTime"><%= ledger.processing %>T00:00:00.000</Data></Cell>
    <Cell ss:StyleID="s74"><Data ss:Type="String"><%= ledger.group %></Data></Cell>
    <Cell ss:StyleID="s74"><Data ss:Type="String"><%= ledger.manager %></Data></Cell>
    <Cell ss:StyleID="s74"><Data ss:Type="String"><%= ledger.item %></Data></Cell>
    <Cell ss:StyleID="s74"><Data ss:Type="String"><%= ledger.resume %></Data></Cell>
    <Cell ss:StyleID="s77"><Data ss:Type="Number"><%= ledger.amount %></Data></Cell>
   </Row>
   <% end %>
   <!-- 表下チェック欄 -->
   <Row ss:AutoFitHeight="0" ss:Height="24">
    <Cell ss:StyleID="s81"/>
    <Cell ss:StyleID="s81"/>
    <Cell ss:StyleID="s81"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s81"/>
    <Cell ss:StyleID="s81"/>
    <Cell ss:StyleID="s81"/>
    <Cell ss:MergeDown="1" ss:StyleID="s83"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">カイケイセキニンシャカクニン</PhoneticText><Data
      ss:Type="String">会計責任者確認</Data></Cell>
    <Cell ss:StyleID="s84"/>
   </Row>
   <Row ss:AutoFitHeight="0">
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s86"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:Index="9" ss:StyleID="s88"/>
   </Row>
   <Row ss:AutoFitHeight="0">
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s89"/>
   </Row>
   <Row ss:AutoFitHeight="0">
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s89"/>
   </Row>
   <Row ss:AutoFitHeight="0">
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s89"/>
   </Row>
   <Row ss:AutoFitHeight="0">
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s89"/>
   </Row>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageSetup>
    <Header x:Margin="0.30000000000000004"/>
    <Footer x:Margin="0.30000000000000004"/>
    <PageMargins x:Bottom="0.75000000000000011" x:Left="0.70000000000000007"
     x:Right="0.70000000000000007" x:Top="0.75000000000000011"/>
   </PageSetup>
   <Unsynced/>
   <FitToPage/>
   <Print>
    <ValidPrinterInfo/>
    <PaperSizeIndex>9</PaperSizeIndex>
    <Scale>54</Scale>
    <HorizontalResolution>-4</HorizontalResolution>
    <VerticalResolution>-4</VerticalResolution>
   </Print>
   <Selected/>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
  </WorksheetOptions>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R21C7:R26C7</Range>
   <Type>List</Type>
   <Value>#REF!</Value>
  </DataValidation>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R21C5:R26C5</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;事務局,コミュニティ,スポーツ,パトロール&quot;</Value>
  </DataValidation>
 </Worksheet>
</Workbook>
