<%- model_class = Ledger -%>
<div class="page-header">
  <h1><%= @group %> 検索</h1>
</div>

<%= search_form_for @search, url: '/ledgers/view' do |f| %>
  <div class="field">
    <%= f.label :group_cont, "グループ" %>
    <%= f.select :group_cont, options_for_select([["all",""],["事務局", "事務局"], ["コミュニティ", "コミュニティ"],
                                                   ["パトロール", "パトロール"], ["スポーツ", "スポーツ"],["収入","収入"]]) %><br>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<div class="page-header">
  <h1><%= @group %> 収支一覧表</h1>
</div>
<%= render :partial => 'view' %>
