<%- model_class = Ledger -%>
<div class="page-header">
  <h1><%= @group %> 検索</h1>
</div>

<%= search_form_for @search, url: '/ledgers/view' do |f| %>
  <div class="field">
    <%= f.label :group_cont, "グループ" %>
    <%= f.select :group_cont, options_for_select([["all",""],["事務局", "事務局"], ["コミュニティ", "コミュニティ"],
                                                   ["パトロール", "パトロール"], ["スポーツ", "スポーツ"],["収入","収入"]]) %><br>
  </div>
  <div class="field">
    <%= f.label :item_cont, "項目" %>
    <%= f.select :item_cont, options_for_select(["","収入", "イベント費","登録費","消耗品費","通信費","旅費交通費","保険料","雑費",
                     "備品","光熱費","機材","工具","修繕費",
                     "賃借料","補助金","支払手数料","在庫保持費","生活費","積立金","人件費",
                     "内部収入-内部支援金","内部収入-年会費","内部収入-物品販売金",
                     "内部収入-クラブ運営費","内部収入-利息","内部収入-スポーツ安全保険",
                     "外部収入-ガード委託料","外部収入-補助金","外部収入-JLA講習会残金",
                     "外部収入-JLA Jr.pg助成金","外部収入-鉾田市体協補助金","外部収入-外部謝礼金","その他"]) %><br>
  </div>
  <div class="field">
    <%= f.label :manager_cont, "立替者" %>
    <%= f.search_field :manager_cont %>
  </div>
  <div class="field">
    <%= f.label :resume_cont, "摘要" %>
    <%= f.search_field :resume_cont %>
  </div>
  <div class="actions"><%= f.submit "Search", :class => "btn btn-primary" %></div>
<% end %>

<div class="page-header">
  <h1><%= @group %> 収支一覧表</h1>
</div>
<%= render 'view' %>
