<%- model_class = Ledger -%>
<div class="page-header">
  <h1><%= @group %> 検索</h1>
</div>

<%= search_form_for @search, url: '/ledgers/view' do |f| %>
  <div class="field">
    <%= f.label :group_cont, "グループ" %>
    <%= f.select :group_cont, options_for_select(@groups) %><br>
  </div>
  <div class="field">
    <%= f.label :item_cont, "項目" %>
    <%= f.select :item_cont, options_for_select(@items) %><br>
  </div>
  <div class="field">
    <%= f.label :manager_cont, "立替者" %>
    <%= f.search_field :manager_cont %>
  </div>
  <div class="field">
    <%= f.label :resume_cont, "摘要" %>
    <%= f.search_field :resume_cont %>
  </div>
  <div class="actions"><%= f.submit "Search", :class => "btn btn-primary" %></div>
<% end %>

<div class="page-header">
  <h1><%= @group %> 収支一覧表</h1>
</div>
<%= render 'view' %>
