<!DOCTYPE html>
<html lang="ja">
    <%= render 'layouts/header' %>

    <body>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/ledgers">Otakaikei</a>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <li><%= link_to "about", "http://kiddikn.php.xdomain.jp/kiddikn/", :target => '_blank' %></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <% flash.each do |name, msg| %>
                        <div class="alert alert-<%= name == "notice" ? "success" : "danger" %>">
                            <a class="close" data-dismiss="alert">×</a> <!-- アラートダイアログに×ボタンをつける -->
                            <%= msg %>
                        </div>
                    <% end %>
                    <%= yield %>
                </div>

            </div><!--/row-->


        </div> <!-- /container -->

    <%= render 'layouts/footer' %>
    </body>
</html>

